<footer>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">Về Dream</h3>
                <a href="#">Giới thiệu về Dream</a>
                <a href="#">Tuyển dụng</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">HỖ TRỢ KHÁCH HÀNG</h3>
                <a href="#">Hướng dẫn đặt hàng</a>
                <a href="#">Phương thức thanh toán</a>
                <a href="#">Phương thức vận chuyển</a>
                <a href="#">Chính sách đổi trả</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <h3 class="header text-uppercase font-weight-bold">HỢP TÁC VÀ LIÊN KẾT</h3>
                <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/dang-ky-bo-cong-thuong_c6uaos.png" alt="dang-ky-bo-cong-thuong">
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="payment">
                    <h3 class="header text-uppercase font-weight-bold">Phương thức thanh toán</h3>
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679833/icon%20-%20payment%20-%20banner/visa-payment_sqzzxj.jpg" alt="visa-payment">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/master-card-payment_se0hkl.jpg" alt="master-card-payment">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/jcb-payment_pknsao.jpg" alt="jcb-payment">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679833/icon%20-%20payment%20-%20banner/atm-payment_vy9ggt.jpg" alt="atm-payment">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/cod-payment_mb7bym.jpg" alt="cod-payment">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/payoo-payment_sy4b1a.jpg" alt="payoo-payment">
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- back to top -->
<div class="btn btn-warning float-right rounded-circle scroll-up" id="backtotop" href="#" style="background:#CF111A;"><i
        class="fa fa-chevron-up text-white"></i>
</div>