<section class="abovefooter text-white" style="background-color: #CF111A;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-books_fgctjl.png" alt="icon-books">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">HƠN 14.000 TỰA SÁCH HAY</h3>
                        <p class="detail">Tuyển chọn bởi Dream</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-ship_nxclhf.png" alt="icon-ship">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">MIỄN PHÍ GIAO HÀNG</h3>
                        <p class="detail">Từ 150.000đ ở Hà Nội</p>
                        <p class="detail">Từ 300.000đ ở tỉnh thành khác</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-gift_rvqo1o.png" alt="icon-gift">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">QUÀ TẶNG MIỄN PHÍ</h3>
                        <p class="detail">Tặng Bookmark</p>
                        <p class="detail">Bao sách miễn phí</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="services d-flex align-items-center">
                    <img src="https://res.cloudinary.com/attt92bookstore/image/upload/v1647679832/icon%20-%20payment%20-%20banner/icon-return_pj4sik.png" alt="icon-return">
                    <div class="services-content">
                        <h3 class="services-title font-weight-bold">ĐỔI TRẢ NHANH CHÓNG</h3>
                        <p class="detail">Hàng bị lỗi được đổi trả nhanh chóng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>