{% extends 'admin/master.html' %}


{% block head %}
{{ super() }}
<!-- Owl carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

{% endblock %}
{% block header %}
{% if current_user.is_authenticated %}
{% include 'includes/admin/navigation.html' %}
{% include 'includes/admin/sidebar.html' %}
{% endif %}
{% endblock %}
{% block container %}
{% block body %}
{% if not current_user.is_authenticated %}
{% include 'includes/admin/login.html' %}
{% else %}
<div class="main-panel">
    {% block content %}
    {% include 'includes/admin/home.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js"
        integrity="sha512-3QG6xTKwQ+Gj16++ggVRGrg0pZbC5/u131WyV3Pg/C9JMIKubrs1SbeloGdT5tpx+fVVV1jjkuo+dzbbF080hw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='js/admin/home_page.js') }}"></script>
    {% block footer %}
    {% if current_user.is_authenticated %}
    {% include 'includes/admin/footer.html' %}
    {% endif %}
    {% endblock %}
    {% endblock content %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
</div>
{% endif %}

{% block script %}
<!-- Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- Script Intro -->
<script>
    $(document).ready(function () {
        $('#owl-intro').owlCarousel({
            loop: true,
            nav: false,
            autoplay: true,
            autoplayTimeout: 4000,
            margin: 10,
            items: 1
        });
    })
</script>

{% endblock %}

{% endblock %}
{% endblock %}